<div class="d-flex flex-column align-items-center">
            <h2>Recipe of the Day</h2>
            <div>
                
                <img class="random-image" src="" alt="{{recipe.name}}">
                <h3>{{recipe.name}}</h3>    
            </div>
        </div>