<div class="d-flex flex-column align-items-center">
            <h2>Recipe of the Day</h2>
            <div>
                <img class="random-image" src="{{oneRecipe.image}}" alt="{{recipe.name}}">
                <h3>{{oneRecipe.label}}</h3>    
            </div>
        </div>