<div class="d-flex flex-column align-items-center">
            <h2>Recipe of the Day</h2>
            <div>
                
                <img class="random-image" src="https://www.recipetineats.com/wp-content/uploads/2021/05/Chicken-Kiev_2-1.jpg" alt="{{recipe.name}}">
                <h3>{{recipe.name}}</h3>    
            </div>
        </div>