<div class="container-fluid border">
    <div class="row border">
           <h2>Recipe Name</h2> 
    </div>
    <div class="row border">
        <div class="col border">
            <img src="https://sp-ao.shortpixel.ai/client/to_webp,q_lossy,ret_img,w_400/https://visitpearland.com/wp-content/uploads/2021/03/@killensburgers-400x397.jpg">
        </div>
        <div class="col border">
            <ul>
                <li>URL: www.pizza.com</li>
                <ul>Ingredients: 
                    <li>Pizza Dough</li>
                    <li>Pizza Sauce</li>
                    <li>Pepperoni</li>
                </ul>
            </ul>
        </div>
    </div>
</div>