<div>
    {{#if userRecipes.length}}

    <div>
        <h3>your recipes</h3>
        {{#each userRecipes}}
        <div class="card">
            {{name}}
            <img class="card-image-top" src="{{img}}" alt=""> 
            <div class="card-body">
                <p>{{ingredients}}</p>
            </div>
            <a href="{{url}}">website</a>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>