<div>
    {{#if userRecipes.length}}

    <div>
        <h3>your recipes</h3>
        {{#each userRecipes}}
        <div class="card">
            <h3 id="rec-name">{{name}}</h3>
            <img class="card-image-top" data-label="rec-image" src="{{img}}" alt=""> 
            <div class="card-body">
                <p>{{ingredients}}</p>
            </div>
            <a href="{{url}}">website</a>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>