:root {
    --primary: #0097a7;
    
    --grey: gray;
    --light: white;
    --dark: black;
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
  }


header {
    padding: 40px;
    text-align: center;
    background: var(--primary);
    color: var(--light);
    border-bottom-style: solid;
    
  }

  h1 {
    color: var(--light);
  }

  h2,
  h3,
  h4 {
    color: var(--primary);
  }
  
  nav {
    background-color: var(--primary);
}
  
  nav a {
    
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    color: var(--light);
  }
  
  nav a:hover {
    color: var(--dark);
    
  }

  .no-button {
    background-color: var(--primary);
  }

  .random-image {
    height: 600px;
    width: 600px;
    
  }

  .thumb {
    width: 200px;
    height: 200px;
  }

  #login-form, #signup-form {
    background-color: var(--primary);
  }

  .form-header {
    color: var(--light);
    margin: 1rem;
  }

  .btn {
    background-color: var(--grey);
    border-color: var(--grey);
  }

  #recipe-card {
    background-color: var(--primary);
  }

  /* .card-image-top {
    width: 10%;
    height: 10%;
  } */

  #recipe-name {
    color: var(--dark);
    font-weight: bold;
    text-align: center;
    color: var(--light);
  }

  .recipe-details {
    list-style-type: none;
    color: var(--light);
    font-size: 2rem;
  }
  
  #save-btn {
    background-color: var(--light);
  }
  
 .meal-card {
  width: 14rem;
  height: 25rem;
 }
