:root {
    --primary: #0097a7;
    
    --grey: rgb(180, 180, 180);
    --light: white;
    --dark: black;
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
  }

* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


header {
    padding: 40px;
    text-align: center;
    background: var(--primary);
    color: var(--light);
    border-bottom-style: solid;
    
  }

  h1 {
    color: var(--light);
  }

  h2,
  h3,
  h4 {
    color: var(--primary);
  }

  a {
    text-decoration: none;
  }
  
  nav {
    background-color: var(--primary);
    width: 20%;
    font-size: larger;
}
  
  nav a {
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    color: var(--light);
  }

  #home-container {
    height: 90%;
  }

  #home-card {
    background-color: var(--primary);
  }
  
  #card-title {
    font-size: 50px;
  }

  #card-text {
    font-size: 40px;
  }

  #card-name {
    color: var(--dark);
  }

  #intro-text {
    font-size: 40px;
  }

  nav a:hover {
    color: var(--dark);
    
  }

  #search-form {
    margin: 0;
  }

  #search-bar, .search-button {
    border-radius: 10px;
  }

  .no-button {
    background-color: var(--primary);
  }

  .random-image {
    height: 600px;
    width: 600px;
    
  }

  .thumb {
    width: 200px;
    height: 200px;
  }

  #login-form, #signup-form {
    background-color: var(--primary);
  }

  .form-header {
    color: var(--light);
    margin: 1rem;
  }

  .btn {
    background-color: var(--grey);
    border-color: var(--grey);
  }

  .btn:hover {
    background-color: var(--grey);
  }
  

  #recipe-card {
    background-color: var(--primary);
  }

  .card-footer {
    background-color: var(--primary);
  }

  .dropdown {
    display: none;
  }

  #recipe-name {
    color: var(--dark);
    font-weight: bold;
    text-align: center;
    color: var(--light);
  }

  .recipe-details {
    list-style-type: none;
    color: var(--light);
    font-size: 1.2rem;
  }

  #recipe-img {
    border-radius: 10px 0px 0px 10px;
  }
  
  .save-btn {
    background-color: var(--light);
    color: var(--dark);
  }

  /* Recipe Details Page */

  #details-page {
    height: 90%;
  }

  #recipe-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    margin: 2rem;
  }

  #recipe-details-card {
    width: 85%;
    border-radius: 10px;
    height: fit-content;
    background-color: var(--primary);
  }

  #recipe-details-img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
  }
  
  #recipe-details-name {
    color: var(--light);
    margin: 3rem;
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: underline;
  }

  #recipe-details-ing, #recipe-ing-list {
    color: var(--dark);
    margin: 4rem;
    font-size: 1.5rem;
    flex-wrap: wrap;
    white-space: pre-wrap;

  }

  #button-container {
    display: flex;
    justify-content: center;
    margin: 1rem;
  }

  .detail-btn {
    margin: 0.5rem;
  }

  /*  */

 .meal-card {
  width: 14rem;
  height: 25rem;
 }

 .card-title {
  color: var(--light);
 }

 .delete-button {
  background-color: var(--error);
 }

 .save-button {
  background-color: var(--light);
  color: var(--dark);
 }

 .save-button:hover {
  background-color: var(--grey);
 }

 .rec-link:hover {
  color: aqua;
  
 }

#search-card {
  background-color: var(--primary);
  width: 18rem;
}

#hidden-ingredients {
  display: none;
}

#login-form, #signup-form {
  border-radius: 10px;
}

#recipe-card {
  border-radius: 10px;
}

@media only screen and (min-width: 600px) {

  /* Changed */
   #recipe-details-card {
    width: 80%;
  } 

  /* My Recipes Page */
 
}

@media only screen and (min-width: 768px) { 
  /* Recipe Details Page */
   #recipe-details-container {
    flex-direction: row;
  }

  #recipe-details-card {
    display: flex;
    height: 75%;
  
  }

  #recipe-details-img {
    width: 50%;
    border-radius: 10px 0px 0px 10px;
  }
  
  #details-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
  }

  #recipe-details-name {
    margin: 2rem;
    font-size: 2rem;
  }

  #recipe-details-ing {
    margin: 1rem 3rem;
    font-size: 1.5rem;
  }

  #recipe-ing-list {
    margin: 1rem 4rem;
    font-size: 1rem;
  } 
}

@media only screen and (min-width: 1500px) {
/* Recipe Details Page */
  #recipe-details-card {
    width: 75%;
  }
 
}